
<div class="relative w-screen h-screen bg-white -z-50  overflow-hidden content ">
    <!-- far Bubble -->
   
    <span class=" parallax absolute top-24 right-3/4 rounded-full h-24 w-24  bg-gradient-to-tl from from-orange-500 to-orange-200 shadow-gray-500 shadow-xl -z-50  " data-speedx="0.3000" data-speedy="0.3000"  >
    </span>
    <span class=" parallax absolute bottom-24   right-16 rounded-full  h-40 w-40 bg-gradient-to-bl from from-blue-500 to-blue-200  -z-50 shadow-xl shadow-gray-500  " data-speedx="0.3000" data-speedy="0.3000"  >
    </span>
    <span class=" parallax absolute top-40 right-96 rounded-full h-8 w-8  bg-gradient-to-tl from from-red-300 to-red-400 shadow-xl shadow-gray-500 -z-50   " data-speedx="0.3000" data-speedy="0.3000"  >
    </span>
    <!-- middlebubble -->
    <span class=" parallax absolute bottom-40   left-3/5 rounded-full bg-gradient-to-tl from from-green-600 to-green-300  h-10 w-10 shadow-lg shadow-gray-500  z-20  " data-speedx="0.2500" data-speedy="0.2500" >
    </span>
    
    
    <span class=" parallax absolute left-3/5 top-64 rounded-full  h-28 w-28 md:h-44 md:w-44 bg-gradient-to-br from from-pink-300 to-pink-600   shadow-lg shadow-gray-500  "data-speedx="0.2500" data-speedy="0.2500"  >
    </span>

    <!-- close bubble -->
    <span class=" parallax absolute top-60 right-72 rounded-full  h-20 w-20 bg-gradient-to-bl from from-purple-200 to-purple-500  shadow-md shadow-gray-500  z-50  " data-speedx="0.2000" data-speedy="0.2000"  >
    </span>
    <span class=" parallax absolute top-96 right-2/3 rounded-full  h-20 w-20 border-2 bg-gradient-to-bl from from-white to-gray-400  shadow-md shadow-gray-500  z-50  " data-speedx="0.2000" data-speedy="0.2000"  >
    </span>

    <div class="absolute w-full h-screen top-0 left-0 b  flex justify-center items-center  z-40  " data-speedx="0.120" data-speedy="0.133" >
        <div class="w-3/5 h-3/4  z-30  flex justify-center items-center ">
            <a routerLink="/login" >
                 <span class="font-serif text-4xl sm:text-5xl md:text-9xl abilekh " >Abilekh
                 </span>
            </a>
        </div> 
    </div> 
</div>

