
<div class="relative h-screen w-full ">
    <span class="absolute top-20 left-40 w-20 h-20 transition ease-in duration-600 sm:w-40 sm:h-40 md:w-80 md:h-80  animate-pulse shadow-xl shadow-cyan-600  bg-cyan-400 z-10 rounded-full opacity-20"></span>
    <span class="absolute top-30 end-64 w-40 h-40  shadow-xl shadow-green-600 animate-pulse bg-green-400 z-10 rounded-full opacity-20"></span>


    <span class="absolute bottom-20 left-32  w-40 h-40 shadow-xl animate-pulse  shadow-fuchsia-600 bg-fuchsia-400 rounded-full opacity-40 ">
    </span>
    <span class="absolute top-52 right-60  w-32 h-32  shadow-xl animate-pulse shadow-red-600  bg-red-400 rounded-full opacity-40 ">
    </span>
    <span class="absolute bottom-36 right-60  w-10 h-10  shadow-xl animate-pulse shadow-orange-600  bg-orange-400 rounded-full opacity-40 ">
    </span>

    <span class="absolute bottom-40 left-96 w-20 h-20 shadow-xl animate-pulse shadow-lime-600  bg-lime-400 z-30 rounded-full opacity-800">
        
    </span>
    <span class="absolute top-9 left-16 w-28 h-28  shadow-xl animate-pulse shadow-green-600 bg-green-400 z-30 rounded-full opacity-80">
        
    </span>
    <span class="absolute top-80 right-96 w-80 h-80  shadow-xl hover:animate-bounce animate-pulse shadow-violet-600  bg-violet-400 z-30 rounded-full opacity-80">
        
    </span>
   